.main {
    padding-left: calc(1.75rem + 288px);
}

.cardsContainerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.listChartContainerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 21px;
}

.largeGrid {
    grid-column: span 2;
}

.smallGrid {
    grid-column: span 1;
}

.shadowEditor {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
}