@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-brown: #B19574;
  --dark-brown: #563B1A;
  --gray-brown: #46413D;
  --white-brown: #FFFAF4;
  --header-white: #E5E6ED;

  --sidebar-hover-brown: #917c63;
}

/* Start Quill CSS */

.quill {
  position: relative;
  border-radius: 4px;
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); */
  border: 2px solid rgba(200, 207, 231, 0.493)
}

.ql-toolbar {
  border: 0 !important;
  border-bottom: 2px solid var(--light-brown);
  background: transparent;
}

.ql-container {
  border: 0 !important;
  min-height: calc(100dvh - 280px) !important;
}

.ql-toolbar .ql-formats {
  margin-right: 8px;
}

.ql-toolbar .ql-picker {
  margin: 0;
}

.ql-editor {
  min-height: calc(100dvh - 280px) !important;
}

/* End Quill CSS */